<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>4424271195-o197v6mcg1d97d8mi7e29hvqeelo2hav.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.4424271195-o197v6mcg1d97d8mi7e29hvqeelo2hav</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>4424271195-19ep3q0b1one3npme5ttqclii5c0aoo0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBQt1IUYxHelufs0kX8v-sDefqQXBRnG2w</string>
	<key>GCM_SENDER_ID</key>
	<string>4424271195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.finance</string>
	<key>PROJECT_ID</key>
	<string>softly-8f8b0</string>
	<key>STORAGE_BUCKET</key>
	<string>softly-8f8b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:4424271195:ios:f7dc777bc93bbd436d467e</string>
	<key>DATABASE_URL</key>
	<string>https://softly-8f8b0-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>